.special-dishes{
    margin: 0 auto;
    margin-top: 150px;
    max-width: 600px;
    justify-content: center;
    text-align: center;
}


.title-center h2{
  font-size: 42px;
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 20px;
  background-image: url('../source/img/bg-title.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 80px;
  color: white;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
}

.title-center p{
    color: #b8b8b8;
    text-align: center;
    font-size: 18px;
    max-width: 600px;

}
@media(max-width:950px){
  /* .title-center h2{
    font-size: 20px;
  } */
  .title-center p{
    text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
    margin-bottom: 0px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;
  max-width: 992px;
  }
   
}



@media(max-width:600px){
  .title-center h2{
    font-size: 20px;
  }
  .title-center p{
    font-size: 14px;
  }
 
}

