.booking-container{
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    padding: 20px 0;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 30px;
    /* justify-content: space-between; */
    flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 1000px;
}


.booking-form{
    width: 60%;
    box-sizing: border-box;
padding-right: 50px;

}

.booking-form-cont{
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
justify-content: space-between;

}


.booking-form-cont p{
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 10px;
    margin-bottom: 10px;
    display: block;
    font-family: 'Poppins', sans-serif;
    color: #ffcc33ff;
}

.booking-form-cont input{
    display: block;
    background-color: black;
    color: white ;
    display: block;
  width: 100%;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 8px 16px;
  height: 60px;
  border: 1px solid #000;
  border-radius: 3px;
  transition: all;
  transition-duration: 0.5s;
}

.booking-form-cont input:hover{
    border: 2px solid #ffcc33ff ;
}

form a{
    width: 164px;
    height: 26px;
    color: rgb(0, 0, 0) ;
    background-color: #ffcc33;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    font-size: 18px;
    text-transform: uppercase;
text-decoration: none;
padding: 8px 16px;
border-radius: 3px;
letter-spacing: 3px;
border: none;
font-weight: bold;
transition: all;
transition-duration: 0.5s;
margin-top: 30px;
}
form a:hover{
    color: white ;
   background-color: #adadad;
}


.booking-hours{
    width: 40%;
}

.booking-hours h3{
    font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: bold;
}






.booking-hours p {
    color: #b8b8b8;
    font-size: 23px;
}

.shudule{
    display: flex;
  justify-content: space-between;
  margin: 40px 0px;
  border-bottom: 1px solid #b8b8b8;
}

.shudule p{
  color: white;

}

@media(max-width:1000px){
  .booking-form{
    width: 100%;
  }
  .booking-hours{
    width: 100%;
  }
}