/* body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
} */

.title-center{
    text-align: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
    margin-bottom: 0px;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 50px;

}

.title-center h1 {
    color: white;
    font-size: 50px;
    margin-bottom: 50px;
    position: relative;
    padding-bottom: 20px;
    background-image: url('../source/img/bg-title.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 80px;
    font-weight: bold;
  text-transform: uppercase;
     margin-top: 150px;
     padding-bottom: 20px;
}


.menu-container{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}


.buttons{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.buttons a:first-child{
    width: 60px;
    height: 43px;
    color: rgb(0, 0, 0) ;
    background-color: #ffcc33;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    font-size: 18px;
    text-transform: uppercase;
text-decoration: none;
padding: 8px 16px;
border-radius: 3px;
letter-spacing: 3px;
border: none;
font-weight: bold;
transition: all;
transition-duration: 0.5s;
}


.buttons a {
    width: 150px;
    height: 43px;
    color: rgb(0, 0, 0) ;
    background-color: #ffcc33;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all;
    font-size: 18px;
    text-transform: uppercase;
text-decoration: none;
padding: 8px 16px;
border-radius: 3px;
letter-spacing: 3px;
border: none;
font-weight: bold;
transition: all;
transition-duration: 0.5s;
margin-left: 10px;
}

.menu-items {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
    justify-content: space-between;
    display: flex;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
    gap: 20px;
    padding: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
   
}

.menu-items a {
    display: block;
  margin-bottom: 30px;
}





.item {
    width: 275px;
    margin: 10px;
    padding: 10px;
    display: block;
    text-align: center;
}

.item img {
    width: 275px;
    height: auto;
}

.item h3{
    text-transform: uppercase;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}

.item .price{

  font-size: 18px;
  font-weight: bold;
  color: #ffcc33ff;
  margin-bottom: 20px;
}

.item p {
    color: #b8b8b8;
    margin-bottom: 20px;
    font-size: 18px;
  font-family: 'Poppins', sans-serif;
}




.hidden {
    display: none;
}





@media (max-width: 1000px) {
   .menu-container{

   }
   .buttons a {
    width: 100px;
    height: 30px;
   }
   .buttons a:first-child{
    height: 30px;
   }
   .menu-items{
    width: 850px;
   }
   .item{

   }
}

@media (max-width: 850px) {
  .menu-container{

  }
  .buttons a {
   width: 100px;
   height: 30px;
  }
  .buttons a:first-child{
   height: 30px;
  }
  .menu-items{
   width: 750px;
   height: 1000px;
   /* display: inline-block; */
  }
  .item{

  }
}

@media (max-width: 740px) {
  .menu-container{

  }
  .itme img{
    width: 300px;
  }
  .buttons a {
   width: 70px;
   height: 30px;
   margin-top: 10px;
  }
  .buttons a:first-child{
   height: 30px;
  }
  .menu-items{
   width: 550px;
   height: 1000px;
   /* display: inline-block; */
   text-align: center;
  }
  .item{
margin: 0 auto;
  }
}